# Build outputs
bin/
obj/
out/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# .NET
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.vs/
.vscode/
*.DotSettings.user

# Lambda packaging
publish/
lambda-package.zip

# Secrets / env
.env
.env.*
appsettings.Development.json

# OS
.DS_Store
Thumbs.db

# Test results
TestResults/
coverage/
*.trx
*.coveragexml
lcov.info

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
.terraformrc
terraform.rc

# Pacote da Lambda
lambda-auth.zip
